@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Titillium", sans-serif;
}

.top-header {
  margin-bottom: 20px;
  background-color: #1878b9;
  text-align: center;
  color: azure;
  padding: 25px;
  border: none;
  width: 100%;
}

.top-header p {
  font-size: 17px;
  font-weight: 500;
}

/* start header */

header {
  width: 100%;
  height: 108px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  list-style-type: none;
  margin: auto;
}

header ul li a {
  text-decoration: none;
}

header input {
  width: 354px;
  height: 46px;
  padding: 15px;
  font-size: larger;
  outline: none;
  border: 1px solid #ddd;
}

#button-search {
  width: 54px;
  height: 46px;
  text-align: center;
  background-color: #2776e8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 100px;
}

#button-search i {
  color: #fff;
}

#button-search:hover {
  background-color: hsla(215, 81%, 53%, 0.849);
}

/* header > ul > li:nth-child(1) a{
    font-size: 40px;
    font-weight: 700;
    color: #2776e8;
} */

header > ul > li:nth-child(n) a {
  color: black;
}

header > ul > li:nth-child(3) {
  border: none;
  background-color: #5ebe60;
  border-radius: 30px;
  width: 296px;
  height: 50px;

  margin-top: 10px;
  transition: all 0.3 ease;
}

header > ul > li:nth-child(3):hover {
  background-color: #51a352;
  cursor: pointer;
}

header > ul > li:nth-child(3) a {
  color: white;
  margin-top: 10px;
  font-size: 25px;
}

header > ul > li:nth-child(3) img {
  margin: 10px 20px;

  float: left;
  width: 27px;
  height: 31px;
}

header > ul > li:nth-child(4) a {
  font-size: 18px;
}

header > ul > li:nth-child(4) i {
  margin-right: 10px;
  font-size: 23px;
}

header > ul > li:nth-child(5) a {
  font-weight: bold;
}

header > ul > li:nth-child(5) i {
  margin-right: 10px;
  font-size: 23px;
}

header > ul > li:nth-child(6) i {
  font-size: 25px;
  color: #51a352;
}

header > ul > li:nth-child(6) i:hover {
  font-size: 30px;
}

/* end header */

/* start navigation */
nav {
  margin-top: 25px;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
nav ul {
  list-style-type: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 25px;
  margin-right: 25px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bold;
  padding: 12px 14px;
  display: block;
  text-align: center;
}

nav ul li:nth-child(n) i {
  margin-right: 10px;
}

nav ul > li:hover {
  background-color: hsla(0, 6%, 90%, 0.265);
}

nav li:hover .menu-down {
  display: block;
  position: relative; /* or absolute */
  z-index: 9999;
}

nav li {
  float: left;
  margin-right: 10px;
}

/* drop-menu */
.menu-down {
  height: auto;
  width: 200px;
  display: none;
  z-index: 999;
}

.menu-down ul {
  display: block;
  margin: 0;
}
.menu-down ul li {
  width: 100%;
}

/* start main */

.breadcumbs-container {
    height: 21px;
    width: 100%;
    padding: 0 25px;
    margin: 55px 25px;
    font-size: larger;
  }
  
  .breadcumbs-container a {
    text-decoration: none;
    color: black;
  }
  
  .breadcumbs-container a:hover {
    text-decoration: underline;
  }
  
  .breadcumbs-container span {
    color: hsl(0, 2%, 62%);
  }

/* main{
    margin-top: 10%;
} */
main .shopify-section {
  width: 90%;
  margin: auto;
  padding: 0 25px;
  height: auto;
  display: flex;
  justify-content: center;
}

.shopify-section .promo-block-content {
  display: flex;
  row-gap: 50px;
}

.shopify-section > .column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#settup-column1{
    width: 70%;
}

#settup-column2{
    width: 30%;
}

.promo-block-content img {
  width: 95%;
  height: 95%;
  border-radius: 5px;
  object-fit: cover;
}

.collection-list-container{
    width: 70%;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.collection-list-container ul{
    display: flex;
    justify-content: space-around;
}

.collection-list-container h2{
    font-size: 20px;
    margin: 55px 0 29px;
}

.collection-list-container ul li{
    width: 210px;
    height: 251px;
    list-style-type: none;
    font-size: 16px;
}

.collection-list-container img{
    width: 200px;
    height: 200px;
}
/* start footer */
footer {
  padding-top: 50px;
  bottom: 0;
  color: black;
  font-size: 16px;
}
.container {
  width: 100%;
  background-color: hsla(0, 0%, 87%, 0.215);
  margin: auto;
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
}
.footer-content {
  width: 33.3%;
}
.footer-content h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
}
.footer-content ul {
  text-align: center;
}
.list {
  padding: 0;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #2776e8;
  transition-duration: 0.5s;
}
.list li:hover::before {
  width: 70px;
}
.social-icons {
  text-align: center;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i {
  color: black;
  font-size: 35px;
}
.footer-content a {
  text-decoration: none;
  color: black;
}
.footer-content a:hover {
  color: #1878b9;
}
.social-icons i:hover {
  color: #2776e8;
  cursor: pointer;
}
.bottom-bar {
  background: #2776e8;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
